# Manually include git-blackhole for the case sdist is done with
# setuptools and install is done with distutils.
include git-blackhole

# It seems that setuptools does not include data_files automatically.
# So let's include man files manually.
include git-blackhole*.[0-9]

include LICENSE
